#coffin{
top: 115px;
left: 434px;
}

#garden{
top: 60px;
left: 428px;
}

#dark{
top: 104px;
left: 350px;
}

#grill{
top: 156px;
left: 469px;
}

#fountain{
top: 176px;
left: 404px;
}

#quad{
top: 195px;
left: 350px;
}

#first{
top: 225px;
left: 422px;
}

#second{
top: 225px;
left: 391px;
}

#car{
    top: 290px;
    left: 422px;
}

#banana{
    top: 440px;
    left: 364px;
}

#ct{
    top: 185px;
    left: 498px;
}

#tramp{
bottom: 327px;
left: 325px;
}

#bottommid{
    bottom: 328px;
    left: 358px;
}

#secondmid{
    bottom: 165px;
    left: 368px;
}

#along{
    bottom: 355px;
    left: 590px;
}

#topmid{
    bottom: 273px;
    left: 570px;
}

#ashort{
    bottom: 230px;
    left: 583px;
}

#graveyard{
    bottom: 230px;
    right: 70px;
}

#cemetary{
    bottom: 170px;
    right: 60px;
}

#backsitea{
    bottom: 330px;
    right: 98px;
}

#window{
    bottom: 165px;
    right: 328px;
}

#pit{
    bottom: 160px;
    right: 98px;
}

#balcony{
    bottom: 196px;
    right: 130px;
}

#library{
    bottom: 375px;
    right: 60px;
}

#arch{
    bottom: 405px;
    right: 179px;
}
