#heaven {
    top:170px ;
    right:230px ;
}

#a-con {
    top: 311px;
    right: 305px;
}

#a {
    top: 270px;
    right: 240px;
}

#a-main {
    top: 384px;
    right: 180px;
}

#mid {
    top: 269px;
    left: 440px;
}

#water {
    bottom: 330px;
    right: 320px ;
}

#top-mid {
    bottom: 306px;
    left: 414px;
}

#window {
    bottom: 426px;
    left: 418px;
}

#bridge {
    bottom: 366px;
    left: 414px;
}

#b-default {
    bottom: 398px;
    left: 280px;
}

#b-corner {
    bottom: 428px;
    left: 230px;
}

#street {
    bottom:458px;
    left: 238px;
}

#palace {
    bottom: 480px;
    left: 280px;
}

#gate {
    bottom: 362px;
    left: 174px;
}
#b-con1 {
    bottom: 359px;
    left: 284px;
}
#b-con2 {
    bottom: 359px;
    left: 318px;
}
#b-con3 {
    bottom: 326px;
    left: 366px;
}
