html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbutton {
    max-height: 80px;
    background-color: white;
    border: 4px solid black; /* Border color and width */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Spacing inside the button */
    text-decoration: none; /* Remove underline from links if used */
    display: block; /* Align buttons side by side */
    font-size: 16px; /* Font size */
    font-family: Arial, sans-serif; /* Font family */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition on hover */
    cursor: pointer; /*home Pointer cursor on hover */
}

#videoFrame{
    box-sizing: border-box;
    position: absolute;
    right: 90px;
    border: 0px solid black;
    height: 84.5vh;
    width: 47.52vh;
    bottom: 80px;
}

#iFrameID{
    justify-content: center;
}

#navbar a .navbutton h1{
    text-align: center;
    margin: 20px -20px;
}

#closerVideo{
    position:fixed;
    left: 1200px;
    top: 60px;
}

#testing{
    position: absolute;
    right: 400px;
}

span.navbutton{
    width: 100px;
    left: 27px;
    text-align: center;
}

#homebutton{
    position: relative;
    top: 30px;
}

#mirage{
    position: relative;
    top: 50px;
}

#inferno{
    position: relative;
    top: 70px;
}

#dust{
    position: relative;
    top: 90px;
}

#vertigo{
    position: relative;
    top: 110px;
}

#nuke{
    position: relative;
    top: 130px;
}

#ancient{
    position: relative;  
    top: 150px;
}
.button{
    text-decoration: none;
    color: black;
}

.navbutton:hover {
    background-color: rgb(163, 163, 163); /* Background color on hover */    
}
.navbar{
    z-index: 3;
    width: 200px;
    min-height: 1000px;
    height: 100vh;
    display: inline-block;
    background-color: #747474;
    position: absolute;
    left: 0px;
    top: 0px;
    border-right: 3px solid black;
}

.map-container {
    border: 3px solid rgb(145, 145, 145) ;
    position: absolute;
    width: 850px;
    height: 850px;
    left: 16%;
    box-shadow: 1px 1px 6px;
    border-radius: 10px;
    filter: blur(.2px);
    background-color: white;
}
#closerVideo:hover{
    cursor: pointer;
}

.title{
    border: 0px solid rgb(145,145,145);
    box-shadow: 1px 1px 4px;
    line-height: 1px;
    position: absolute;
    padding: 0 10px;
    top: -85px;
    filter: blur(.2px);
    border-radius:10px;
    left: 350px;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.map {
    position: absolute;
    width: 100%; 
    height: 100%; 
    z-index: 1; 
}

.node {
    position: absolute;
    z-index: 2;
}

.node img {
    display: block;
    width: 20px; 
    justify-content: center;
    height: 20px; 
}
.node img:hover{
    cursor: pointer;
    width: 21px;
    height: 21px;
    justify-content: center;
}
