#coffin{
top: 115px;
left: 434px;
}

#garden{
top: 60px;
left: 428px;
}

#dark{
top: 104px;
left: 350px;
}

#grill{
top: 156px;
left: 469px;
}

#fountain{
top: 176px;
left: 404px;
}


#quad{
top: 195px;
left: 350px;
}

#first{
top: 225px;
left: 422px;
}

#second{
top: 225px;
left: 391px;
}

#car{
    top: 290px;
    left: 422px;
}

#banana{
    top: 440px;
    left: 364px;
}

#ct{
    top: 185px;
    left: 498px;
}

#tramp{
bottom: 327px;
left: 325px;
}

#bottommid{
    bottom: 284px;
    left: 368px;
}

#secondmid{
    bottom: 165px;
    left: 368px;
}

#along{
    bottom: 375px;
    left: 596px;
}

#close{

}

#topmid{

}

#ashort{

}

#graveyard{

}

#cemetary{

}

#backsitea{

}

#window{

}

#pit{

}

#balcony{

}

#library{

}

#arch{

}
