/*cat, window, con, market, van, bench, CT, stairs, jungle, market, topmid, underpass, getleft, getright*/

#cat {
    position: absolute;
    left: 375px;
    top:331px;
}

#window{
    position: absolute;
    left: 297px;
    top: 386px;
}

#con{
    position: absolute;
    left: 400px;
    bottom: 315px;
}

#marketWindow{
    position: absolute;
    left: 152px;
    top: 318px;
}

#marketDoor{
    position: absolute;
    top:318px;
    left:71px;
}

#van{
    position: absolute;
    left: 75px;
    top: 120px;
}

#bench{
    position: absolute;
    left: 26px;
    top: 203px;
}

#CT{
    position: absolute;
    bottom: 100px;
    left: 346px;
}

#stairs{
    position: absolute;
    left: 440px;
    bottom: 255px;
}

#jungle{
    position: absolute;
    bottom: 284px;
    left: 365px;
}

#apps{
position: absolute;
top: 115px;
left: 154px;
}

#appsDeep{
    position: absolute;
    top: 112px;
    left: 210px;
}

#topmidtop{
    position: absolute;
    left: 575px;
    top: 335px;
}

#topmidbottom{
    left: 575px;
    bottom: 400px;
}

#underpass{
    left: 332px;
    top: 376px;
}

#getleft{
    top: 171px;
    left: 235px;
}
#getright{
    top: 226px;
    left: 235px;
}
#midcon{
    left: 400px;
    bottom: 402px;
}