#garage{
    right:265px;
    bottom: 270px;
}
#secret1{
    right: 325px;
    bottom:230px;
}
#secret2{
    right: 302px;
    bottom:230px;
}
#outside1 {
    bottom:276px;
    right: 324px;
}
#outside2 {
    bottom: 245px;
    right: 385px;
}
#outside3 {
    bottom: 267px;
    right: 358px;
}
#ctred {
    bottom: 325px;
    right: 290px;
}
#main1 {
    bottom: 314px;
    right: 353px;
}
#main2 {
    bottom: 300px;
    right: 330px;
}
#silo {
    bottom: 300px;
    left: 420px;
}
#heaven {
    top: 380px;
    right: 304px;
}
#bigbox1{
    top: 304px;
    left: 443px;
}
#bigbox2{
    top: 325px;
    left: 460px;
}
#vent{
    left: 456px;
    bottom: 342px;
}
#trophy{
    left: 420px;
    top: 366px;
}




