#b-stairs {
    top: 300px;
    left: 100px;
}

#pillar {
    top: 64px;
    left: 194px;
}

#videoFrame{
    position: absolute;
    right: 90px;
    border: 3px solid black;
    height: 889px;
    width: 500px;
    overflow:hidden;
}

#quad {
    top: 68px;
    left: 56px;
}

#double {
    top: 230px;
    left: 126px;
}

#electric {
    left: 255px;
    top: 192px;
}

#white {
    left: 54px;
    top: 230px;
}

#b-connector {
    left: 366px;
    top: 196px;
}
#ct-b{
    left: 402px;
    top: 102px;
}
#ct{
    left: 460px;
    top: 250px;
}
#middle{
    top: 295px;
    left: 420px;
}
#backroom{
    top: 350px;
    right: 104px;
}
#heaven{
    top: 350px;
    right: 150px;
}
#new-door{
    right: 304px;
    bottom: 340px;
}
#asite{
    right: 162px;
    bottom: 365px;
}
#sandbags{
    bottom: 93px;
    right: 104px;
}
#boost{
    bottom: 367px;
    right: 94px;
}
#ct-lobby{
    right: 336px;
    top: 340px;
}
#a-lobby{
    bottom: 410px;
    right: 206px;
}
#t-ramppush{
    bottom: 436px;
    left: 320px;
}